* {
  margin: 0px;
}
ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.container {
  width: 100%;
  max-width: 1170px;
  margin: 0px auto;
}

header {
  padding: 24px;
  font-family: "Open Sans";
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

header .brand {
  font-weight: bold;
  font-size: 32px;
  margin-right: 24px;
}

.menu-icon {
  display: none;
  float: right;
  cursor: pointer;
}

nav.navbar ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

nav ul li {
  font-size: 16px;
  padding: 0px 12px;
}

li.nav-item a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 600;
}

li.nav-item a:hover {
  transition: color 0.5s;
  color: rgba(0, 0, 0, 0.9);
}

li.nav-item a.active {
  color: rgba(0, 0, 0, 0.9);
}

.section-2{
  font-family: "Open Sans";
  padding: 24px;
  display: flex;
  flex-direction: row;
  height: 300px;
}

.section-2-item{
  margin-left: 24px;
  margin-right: 24px;
}

.section-2-image{
  text-align: right;
  width: 50%;
}

.section-2-image a img{
  max-width: 300px;
  max-height: 300px;
  object-fit: cover;
  aspect-ratio: 1/1;
}

.section-2-description{ 
  text-align: left;
  width: 50%;
}

.section-2-description p{ 
  margin-top: 24px;
  margin-bottom: 24px;
}
.section-2-description a{ 
  text-decoration: inherit;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 24px;
  padding-right: 24px;
  color: #333333;
  display: inline-block;
  opacity: 0.8;
  background-color:#FAD02C;
}

.section-2-description a:hover {
  background-color:#ADD8E6;
}

/*-----sec-1-----*/
.sect1-top {
  text-align: center;
  background-color: rgb(80, 230, 200);
}

h1 {
	font-size : 48px;
}

h4 {
  margin-top: 15px;
	font-size : 30px;
	/* border-bottom : 1px solid #a6abaa; */
}

.section1 {
	height : 900px;
	padding-left: 90px;
	padding-right: 90px;
	opacity: 0.7;
}

.detail img {
	width : 70px;
}

.all {
	padding-left: 40px;
  margin-top: 30px;
}

.detail {
	float : left;
	padding : 30px 40px;
}

.detail p {
	font-weight: bold;
	font-size : 25px;
	text-align: center;
}

/*---------------*/